
SCAD/barcode_mount.stl
.DS_Store
tube_checkout/tube_checkout/labware/__init__.pyc
*.pyc
tube_checkout/tubecheckout.egg-info/dependency_links.txt
tube_checkout/tubecheckout.egg-info/not-zip-safe
tube_checkout/tubecheckout.egg-info/PKG-INFO
tube_checkout/tubecheckout.egg-info/requires.txt
tube_checkout/tubecheckout.egg-info/SOURCES.txt
tube_checkout/tubecheckout.egg-info/top_level.txt
tube_checkout/tube_checkout.egg-info/top_level.txt
tube_checkout/tube_checkout.egg-info/SOURCES.txt
tube_checkout/tube_checkout.egg-info/requires.txt
tube_checkout/tube_checkout.egg-info/PKG-INFO
tube_checkout/tube_checkout.egg-info/not-zip-safe
tube_checkout/tube_checkout.egg-info/dependency_links.txt
*.whl
tube_checkout/dist/tube_checkout-0.1.1.2.tar.gz
3D_Printing/tube_shape - Copy.stl
3D_Printing/tube_shape - Copy.scad
tube_checkout/build/*